@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br/>
    <h2>AdminUI UserSettings Example App</h2>
    <br/>
    Click @Html.ActionLink("here", "UserClaims", "ManageUserClaims") to manage your claims
</div>