@model Samples.AdminUI.UserSettings.Models.ManageUserClaimsModel
@{
    ViewData["Title"] = "Manage Profile";
}

<br />
<div class="row">
    <div class="col-md-8">
        @if (Model.Claims.Count == 0)
        {
            <p>No editable claims avaliable</p>
        }
        else
        {
            <form method="post" asp-route="UpdateUserClaims">
                @for (int i = 0; i < Model.Claims.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="Claims[i].Type">@Model.Claims[i].Type</label>
                        <input asp-for="Claims[i].Type" value="@Model.Claims[i].Type" hidden />
                        <input asp-for="Claims[i].Value" class="form-control" id="@Model.Claims[i].Value" value="@Model.Claims[i].Value" required />
                    </div>
                }

                <button class="btn btn-primary" type="submit" value="Submit">Update Claims</button>
            </form>
        }
    </div>
</div>